---
layout: home
---

<div id="home">
  <h1>Home</h1>
  <p>I am <b>Jing Heng</b>. I am currently a software developer working at <a href="https://sunwaymoney.com/" target='_blank'>Sunway Money</a> in Malaysia. I graduated from the <a href="https://www.cam.ac.uk/" target="_blank">University of Cambridge</a> with a Masters in Engineering in 2021, specialising in Information and Computer Engineering. I have a huge passion in software development and machine learning. I also love watching films. This blog is hence a collection of things that I think or learn about IT, machine learning, and films during my free time - written in the form of blog posts.</p>
  
  <p>To learn more about me, go <a href="/about">here</a>!</p>

  <h1>Blog Posts</h1>
  <!-- Add blog post section -->
  <div class="posts">
    <ul class="ps-4">
      {% for post in site.posts %}
      <div class="pb-2">
        <li>
          <span>{{ post.date | date_to_string }}</span> &raquo;
          <a class="fw-bold" href="{{ post.url }}">{{ post.title }}</a>
        </li>
  
        {% if post.description %}
        <div class="post-description">{{ post.description }}</div>
        {% endif %} 
      </div>
      {% endfor %}
    </ul>
  </div>

  <div class="posts">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-xl-4 col-md-6 card-post">
        <div class="wrapper" style="background: url('{{ post.post-image }}') 50% 1% / cover no-repeat">
          <div class="date">
            <span class="day">{{ post.date | date_to_string }}</span>
            <!-- <span class="day">12</span>
            <span class="month">Aug</span>
            <span class="year">2016</span> -->
          </div>
          <div class="data">
            <div class="content">
              <div class="title"><a class="fw-bold" href="{{ post.url }}">{{ post.title }}</a></div>
              <p class="text post-description mb-0">{{ post.description }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
