---
---

@import "{{ site.theme }}";

// This scss file is to customise the default architect 0.2.0 theme css

:root {
    --header-def-colour: #9ddcff;
    --sidebar-bcolour: #469fff;
    --dark-bg: #001a35;
}

body {
    font-size: 18px;
    line-height: 1.75;
    color: #fafafa;
    background: var(--dark-bg);
}

a {
    color: #469fff;
    
    &:hover {
        color: #275d97;
    }
}

header h1 {
    width: auto
}

aside#sidebar {
    background: none;
    border-left: solid 1px var(--sidebar-bcolour);
    position: sticky;
    top: 30px;
}

header a.button {
    display:block;
}

code, pre {
    color: rgb(200, 200, 200);
}

code {
    background-color: #000000;
    border: none;
}

pre {
    background: none;
    border: solid 1px #666666;
}
pre code {
    background-color: #252520;
}

#main-content h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--header-def-colour);
    &:before {
        color: var(--header-def-colour);
    }
}

#main-content h2 {
    font-size: 1.6em;
    color: var(--header-def-colour);
    &:before {
        color: var(--header-def-colour);
    }    
}

#main-content h3 {
    font-size: 1.4em;
    color: var(--header-def-colour);
    &:before {
        color: var(--header-def-colour);
    }    
}

#main-content h4 {
    color: var(--header-def-colour);
    &:before {
        color: var(--header-def-colour);
    }    
}

#main-content h5 {
    color: var(--header-def-colour);
    &:before {
        color: var(--header-def-colour);
    }    
}

#main-content h6 {
    color: var(--header-def-colour);
    &:before {
        color: var(--header-def-colour);
    }    
}

blockquote {
    font-size: 18px;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    header h1, header h2 {
      width: auto;
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    aside#sidebar {
        border-top: solid 1px var(--sidebar-bcolour);
        border-left: none;
    }
}