---
---

@import "normalize";
// @import "rouge-github";
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

:root {
  --header-def-colour: #9ddcff;
  --theme-blue1: #469fff;
  --theme-blue2: #275d97;
  --dark-bg: #252525;
  --light-bg: #eeeeee;

  --header-light-mode-colour: #004288;
  --small-font: 0.8em;
  --blur-opacity: 70%;

  --bs-body-color: #fafafa;

  --bg-color: var(--dark-bg);
}

html {
  font-size: 18px;
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 0.25em;

  &:hover {
    background: #6e6e6e;
  }
}

// so that it scrolls smoothly to the top
html {
  scroll-behavior: smooth;
}

body {
  // font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  line-height: 1.75;
  background: var(--bg-color);
}

p {
  margin-top: 0;
}

a {
  color: var(--theme-blue1);

  &:hover {
    color: var(--theme-blue2);
  }
}

header {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;

  h1 {
    margin-bottom: 0.2em;
    color: #fff;
    letter-spacing: 0;
  }

  h2 {
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0;
  }
}

main {
  border-top: solid 1px #fff;
}

#main-content img {
  max-width: 100%;
}

// sidebar
#sidebar {
  min-height: 504px;
  border-left: solid 1px var(--theme-blue1);
  top: 30px;

  div.avatar img {
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid var(--theme-blue1);

    transition: border-radius 0.5s ease-in-out;

    &:hover {
      border-radius: 10%;
    }
  }

  .repo-owner {
    font-size: 12px;
  }
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.85em;
}

code {
  padding: 3px;
  background-color: #111111;
  border: none;
  color: #cacaca;
}

pre {
  padding: 20px;
  overflow: auto;
  text-shadow: none;
  border: solid 1px #666666;
  color: #222;

  code {
    padding: 0;
    color: #2879d0;
    border: none;
    font-size: 1em; // i.e. same as pre
    background: none;
  }
}

ul, ol, dl {
  margin-bottom: 20px;

  ul {
    margin-bottom: 20px;
  }
}

// post lists in home page
div.posts {
  .post-description {
    font-size: var(--small-font);
    opacity: var(--blur-opacity);
  }
}

/* COMMON STYLES */

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: solid 1px #ddd;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}

form {
  padding: 20px;
  background: #f2f2f2;

}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  letter-spacing: 1px;
  color: var(--header-def-colour);
  line-height: 1.75;
}

#main-content h1 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: bold;
  text-indent: 6px;
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 2px dashed var(--header-def-colour);
}

#main-content h2 {
  margin-bottom: 8px;
  font-size: calc(1.3rem + 0.6vw);
  font-weight: bold;
  text-indent: 4px;
}

#main-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: calc(1.275rem + 0.3vw);
  font-weight: bold;
  text-indent: 3px;
}

#main-content h4 {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
  text-indent: 3px;
}

#main-content h5 {
  margin-bottom: 8px;
  font-size: 14px;
  text-indent: 3px;
}

#main-content h6 {
  margin-bottom: 8px;
  font-size: .8em;
  text-indent: 3px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 15px;
  border-left: 10px solid #e9e9e9;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

#main-content {
  .icon {
    padding-right: 10px;

    &:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-weight: 900;
      line-height: inherit;
    }
  }

  div.post-title {
    h1 {
      border: none;
    }

    h2 {
      margin-top: -1rem;
    }
  }

  div.post-header {
    font-size: var(--small-font);

    ul {

      li {
        padding: 0 5rem 0 0;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    div.helpericon {
      color: var(--theme-blue1);
    }

    div.desc,
    div.film {
      opacity: var(--blur-opacity);
    }
  }

  hr {
    opacity: var(--blur-opacity);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &[src$="#colour-correct"] {
      // add blue filter onto images
      filter: sepia(1) hue-rotate(190deg) saturate(400%);
      -webkit-filter: sepia(1) hue-rotate(190deg) saturate(400%);
    }
  }

  figure.highlight {
    margin: 1em 0px;
  }

  figure.film {
    margin: 0;
    margin-bottom: 1em;
  }

  figcaption {
    font-size: var(--small-font);
    opacity: var(--blur-opacity);
  }

  div.film-trailer {
    width: 100%;
    padding-top: 56.25%; // 16:9 aspect ratio
    position: relative;
    margin-bottom: 2rem;

    figure {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      margin-bottom: 1em;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  div.math {
    width: 100%;
    overflow: auto;
    font-size: 0.9em;
  }

  blockquote {
    font-size: 18px;
    border-left: 7px solid #888888;
  }

  .table {
    border: none;
  }

  .table th,
  .table td {
    border: none;
  }

  .table tbody {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
  }
}

// -----------------
// icons

.icon {
  border-bottom: none;
  position: relative;

  > .label {
    display: none;
  }
}

// icons in sidebar
#sidebar ul.icons {
  cursor: pointer;

  li {

    &:last-child {
      padding-right: 0;
    }

    .icon:before {
      width: 2.25rem;
      height: 2.25rem;
      line-height: 2.25rem;
      display: inline-block;
      text-align: center;
      border-radius: 100%;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

// -----------------
// buttons

.button-tray {
  bottom: 20px;
  right: 30px;
  position: fixed;
  z-index: 9999; // make sure it is always on top.

  li {
    margin-right: 10px;
  }

  button {
    border: none;
    background-color: var(--theme-blue1);
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;

    &:hover {
      filter: brightness(75%);
    }
  }
}

// totop button
#toTopBtn {
  display: none;

  &:before {
    font-weight: 900;
  }
}

// totop button
#darkModeBtn {
  display: block;
  background-color: var(--bg-color);
  border: solid 2px;
  border-color: var(--theme-blue1);

  &:before {
    font-size: 32px;
  }
}

// template: https://codepen.io/choogoor/pen/YWBxrg

.card-post {
  // float: left;
  margin-top: calc(var(--bs-gutter-x) * .5);
  margin-bottom: calc(var(--bs-gutter-x) * .5);
  // padding: 1.7rem 0;
  // width: 50%;
  line-height: 1.5;

  .wrapper {
    // background: url(https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80) 20% 1% / cover no-repeat;
    // background-color: $white;
    min-height: 256px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }

  .post-image {
    min-height: 200px;
  }

  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 0.75rem));
    transition: transform 0.3s;

    .content {
      padding: 0.75rem;
      position: relative;
      z-index: 1;
    }
  }

  .title {

    padding-bottom: 0.75rem;

    a{
      color: var(--bs-body-color);

      &:hover {
        color: var(--theme-blue1);
      }
    }
  }

  .text {
    height: 70px;
  }

  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }

  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-blue1);
    color: white;
    padding: 0.5rem;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 0.75rem;
      text-shadow: 2px 3px 2px rgba(black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }

  .content {
    background-color: var(--bg-color);
    // color: #000000;
    box-shadow: 0 5px 30px 10px rgba(black, 0.3);
  }
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  #sidebar {
    min-height: 0;
    padding: 20px 0;
    margin-top: 20px;
    border-top: solid 1px var(--theme-blue1);
    border-left: none;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }

// -----------------
// light mode

.change,
button,
a {
  transition-property: color, background-color, filter;
  transition-duration: 0.5s;
}

body.light-mode {
  --bs-body-color: #000000;
  --bg-color: var(--light-bg);
  // background: #eeeeee;

  hr {
    border-color: #000000;
  }

  // flip over the colours in dark mode
  a {
    color: var(--theme-blue2);

    &:hover {
      color: var(--theme-blue1);
    }
  }

  #main-content {
    h1:not(.post-title) {
      border-bottom-color: var(--header-light-mode-colour);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--header-light-mode-colour);

      &:before {
        color: var(--header-light-mode-colour);
      }
    }
  }

  #darkModeBtn {
    // background-color: #eeeeee;
    color: var(--dark-bg);
  }

  div.post-header {
    li {
      color: var(--theme-blue2);
    }
  }

  #sidebar div.avatar img {
    border-color: var(--theme-blue2);
  }

  code {
    color: #222222;
    background-color: #bbbbbb;
  }

  pre {
    code {
      color: var(--theme-blue1);
      background: none;
    }
  }
}
