---
layout: default
---
<h1>{{ page.title }}</h1>

{% if page.date %}
<p class="meta"><i class="helpericon fa-pencil-alt"><span class="label">pencil</span></i>{{ page.date | date_to_string
    }}</p>
{% endif %}

{% if page.read %}
<p class="meta"><i class="helpericon fa-clock"><span class="label">clock</span></i>{{ page.read }} min read
</p>
{% endif %}

<p class="meta"><i class="helpericon fa-file-alt"><span class="label">description</span></i>{{ page.description |
    default:
    "" }}</p>

{{ content }}

<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
<!-- http://flennerhag.com/2017-01-14-latex/ -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['\[', '\]'], ['\\[', '\\]']],
    processEscapes: true},
    jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
    extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
    TeX: {
    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
    equationNumbers: {
    autoNumber: "AMS"
    }
    }
    });
    </script>