---
layout: home
---

<div class="post-title">
  <h1>{{ page.title }}</h1>

  {% if page.rating %}
    <h2><i class="icon fa fa-star"></i>{{ page.rating }}</h2>
  {% endif %}
</div>

<div class="post-header">
  <div class="helpericon">
    <ul>
      {% if page.date %}
      <li>
        <i class="icon fa fa-pencil-alt"><span class="label">pencil</span></i
        >{{ page.date | date_to_string }}
      </li>
      {% endif %} 
      {% if page.read %}
      <li>
        <i class="icon fa fa-clock"><span class="label">clock</span></i
        >{{ page.read }} min read
      </li>
      {% endif %}
    </ul>
  </div>
  
  <div class="desc">
    {% if page.description %}
    <i class="icon fa fa-file-alt"><span class="label">description</span></i
    >{{ page.description | default: "" }}
    {% endif %}
  </div>

  <div class="film">
    {% if page.director %}
      <i class="icon fa fa-clapperboard"><span class="label">director</span></i>Directed by: {{ page.director | default: "-" }}
    {% endif %}
    {% if page.screenplay %}
      <br>
      <i class="icon fa fa-book"><span class="label">director</span></i>Screenplay by: {{ page.screenplay | default: "-" }}
    {% endif %}
  </div>
</div>

{{ content }}

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"
></script>
<!-- http://flennerhag.com/2017-01-14-latex/ -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {
  inlineMath: [['$','$'], ['\\(','\\)']],
  displayMath: [['\[', '\]'], ['\\[', '\\]']],
  processEscapes: true},
  jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
  extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
  TeX: {
  extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
  equationNumbers: {
  autoNumber: "AMS"
  }
  }
  });
</script>
